/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar{
  width: 100%;
  height: 100%;
  position: relative;
  top:0;
  left:0;
  text-align: center;
}

.navbar video{
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.title{
  width: 100%;
  height: 100%;
  background-color: black;
  font-size: 100px;
  color: white;
  mix-blend-mode: multiply;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}